 * {
     font-family: sans-serif;
 }

 article {
     padding: 10px;
 }

 img {
     max-width: 100%;
 }

 #liste {
     width: 90vw;
     max-width: 1100px;
     margin: 0 auto;
     display: grid;
     grid-gap: 10px;
     grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
 }

 button {
     color: darkred;
     background-color: #fff;
     border: none;
     font-size: 20px;
     font-family: monospace;
 }

 .valgt {
     color: red;
 }

 h1 {
     text-align: center;
     font-family: monospace;
 }

 /*        POPOP*/
 #popop {
     position: fixed;
     left: 0;
     top: 0;
     width: 80vw;
     height: 80vh;
     background-color: rgba(0, 0, 0, .8);
     display: none;
 }

 #popop article {
     width: 50vw;
     height: 60vh;
     margin: 4rem auto;
     background-color: beige;
     border-radius: 10px;
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
 }

 #luk {
     position: fixed;
     top: 5em;
     right: 24em;
     background-color: #fff;
     color: #000;
     border-radius: 5px;
     padding: .1em;
 }
